# fly.toml app configuration file
app = "asif-portfolio-backend-api" # <-- **NOTE:** Is naam ko unique rakhiye

[env]
  PORT = "3000"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0 # 0 rakho taaki free tier mein chalta rahe
